<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2> <%= @wiki.description %> </h2><br>
	</div>
</div>
<br><br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  	<% @articles.each do |article| %>
    <div class="panel-primary">
			<div class="panel-heading">
        <a class="text-muted" href="/wikis/<%=@wiki.id%>/articles/<%=article.id%>"><%=article.title%></a>
      </div>
      <div class="panel-content"><%=article.content%></div>
      </br>
    </div>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>
